the peak word usage is happening at 19, 20, 21, 22 o'clock.
we are going to find out the total words usage along this hours.

In [18]:
import pandas as pd

In [19]:
tweets_df = pd.read_json('results/total_tweets_in_every_hour.json')
words_df = pd.read_json('results/total_word_distribution.json')

In [20]:
def find_hour(hour):
    is_there = False
    hours = [19, 20, 21, 22]
    if hour in hours:
        is_there = True
    
    return is_there

In [13]:
word_by_hour = words_df[words_df.hour.apply(lambda m: m in [19, 20, 21, 22 ])]
word_by_hour

    hour  total
19    19    621
20    20    847
21    21    952
22    22    831

In [15]:
word_by_hour.total.sum()

3251

In [23]:
tweet_by_hour = tweets_df[tweets_df.hour.apply(find_hour)]
tweet_by_hour

    hour  total
19    19     59
20    20     73
21    21     89
22    22     72

In [24]:
tweet_by_hour.total.sum()

293