> comparing total tweets and total words usage distribution in every hour

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data/normalized_tweets.json')

labeling tweets with the hour its tweeted

In [3]:
df['hour'] = df.datetime.apply(lambda dt: dt.hour)

grouping tweets by hour

In [4]:
total_tweet_df = pd.DataFrame(df.hour.value_counts())
total_tweet_df.reset_index(inplace=True)
total_tweet_df.columns = ['hour', 'total']
total_tweet_df = total_tweet_df.sort_values(by='hour', ascending=True)

formatting hour

In [5]:
def convert_hour(hour):
    if hour < 10:
        return '0{}'.format(hour)
    
    return '{}'.format(hour)

In [6]:
total_tweet_df.hour = total_tweet_df.hour.apply(convert_hour)

In [7]:
# writting json results
result_json = total_tweet_df.to_json(orient='records')
with open('results/total_tweets_in_every_hour.json', 'w', encoding='utf-8') as outfile:
    outfile.write(result_json)

In [8]:
total_tweet_df

   hour  total
19   00      8
22   01      2
23   02      1
20   03      7
17   04     12
21   05      4
18   06      9
16   07     26
11   08     36
9    09     37
5    10     45
13   11     34
14   12     31
12   13     36
8    14     38
7    15     38
15   16     30
6    17     45
4    18     51
3    19     59
1    20     73
0    21     89
2    22     72
10   23     36